.info {
    background-color: skyblue;
    width: 500px;
    margin-top: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#next-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('images/background.jpg');
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    
    font-family: 'Original Surfer', cursive;
    text-align: center;
}